@use "./varibles" as *;

#create-account-form{
    @include center_component(100%, 100vh, column, $backgroundColor);

    div{
        @include center_component(30%, 32.5rem, column, $backgroundColorSecondary);
        justify-content: space-around;
        border-radius: 0.5rem;
        position: relative;
        padding-bottom: 2rem;
        
        img{
            @include logo_circle();
        }
        
        h2{
            padding-top: 3rem;
            @include h1_to_h3($h3Size);
        }

        input{
            @include input();
            margin-top: 1rem;
            margin-bottom: 1rem; 
            border-radius: 0.1rem
        }

        .error_message{
            @include error_paragraph();
        }

        button{
            @include button($additionalPurple, $fontColor);
        }
    }
}

// // #code-form{
// //     @include center_component(100%, 100vh, column, $backgroundColor);

// //     div{
// //         @include center_component(30%, 32.5rem, column, $backgroundColorSecondary);
// //         border-radius: 0.2rem;
// //         padding-top: 1rem;
// //         box-shadow: 0 0 2rem 0rem $additionalCyan;
// //     }
// // }