@use "./varibles" as *;

#log-in-form{
    @include center_component(100%, 100vh, column, $backgroundColor);

    div{
        @include center_component(30%, 32.5rem, column, $backgroundColorSecondary);
        justify-content: space-around;
        border-radius: 0.5rem;
        padding-top: 1rem;
        position: relative;
        
        img{
            @include logo_circle();
        }

        h2{
            padding-top: 2.5rem;
            @include h1_to_h3($h3Size);
        }

        input{
            @include input();
            margin-top: 1rem;
            margin-bottom: 1rem; 
        }

        .error_paragraph{
            @include error_paragraph();
        }

        #toCreateAccount{
            @include link_to_page();
        }

        button{
            @include button($additionalPurple, $fontColor);
        }
    }
}