// ***********************************************************************************
//                                  LOGIN - STYLES
//                               Styles for login page
// ***********************************************************************************
@use "./varibles" as *;

#log-in-form{
    @include center_component(100%, 100vh, column, $backgroundColor);

    div{
        @include center_component(25%, 32.5rem, column, $backgroundColorSecondary);
        justify-content: space-between;
        border-radius: 1.25rem;
        padding-top: 2rem;
        position: relative;
        
        // Logo
        img{
            @include logo_circle(); 
        }

        h2{
            padding-top: 1.5rem;
            @include h1_to_h3($h3Size);
            transform: scale(1.15);
        }

        input{
            @include input();
            width: 16rem;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem; 
            border-radius: 0.75rem;
        }

        .error_paragraph{
            @include error_paragraph();
        }

        #toCreateAccount{
            @include link_to_page();
            padding-bottom: 1rem
        }

        button{
            @include button($additionalPurple, $fontColor);
            margin-top: 3rem;
            width: 17rem;
        }
    }
}

// Making form responsive
@media (max-width: 1200px) {
    #log-in-form{
        div{
            @include center_component(32.5%, 32.5rem, column, $backgroundColorSecondary);
            justify-content: space-between;
        }

        h2{
            padding-top: 0rem;
            padding-bottom: 1.5rem;
            margin-top: 1.5rem;
            margin-bottom: 0rem;
        }

        input{
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }
    }
}

// Smaller image + small adjustment of login size
@media (max-width: 950px) {
    #log-in-form{
        div{
            @include center_component(45%, 32.5rem, column, $backgroundColorSecondary);
            justify-content: space-between;
        }

        img{
            @include logo_circle();
            transform: scale(0.9);
        }
    }
}

// Make component background a little bit bigger
@media (max-width: 650px) {
    #log-in-form{
        div{
            @include center_component(65%, 32.5rem, column, $backgroundColorSecondary);
            justify-content: space-between;
        }
    }
}

// For small phones - delete backgound color (it looks a lot better)
@media (max-width: 450px) {
    #log-in-form{
        background-color: $backgroundColorSecondary;

        div{
            @include center_component(100%, 32.5rem, column, $backgroundColorSecondary);
            justify-content: space-between;
        }
    }
}