@use "./varibles" as *;

#log-in-form{
    @include center_component(100%, 100vh, column, $backgroundColor);

    div{
        @include center_component(30%, 32.5rem, column, $backgroundColorSecondary);
        justify-content: space-around;
        border-radius: 0.2rem;
        padding-top: 1rem;
        box-shadow: 0 0 2rem 0rem $additionalCyan;

        h2{
            @include h1_to_h3($h3Size);
        }

        input{
            @include input();
            margin-top: 1.25rem;
            margin-bottom: 1.25rem; 
        }

        p{
            @include error_paragraph();
        }

        #checkbox-container{
            height: 2rem;
            width: 50%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            box-shadow: none;
            
            input{
                width: 1rem;
                height: 1rem;
            }

            label{
                color: $fontColor;
                font-family: $textFont;
                font-size: $paragraphSize;
            }
        }

        #toCreateAccount{
            @include link_to_page();
        }

        button{
            @include button($backgroundColor, $fontColor);
        }
    }
}