// ****************************************************************************
//                               Colors 
// ****************************************************************************
$fontColor: #e6ede6;
$backgroundColor: #212121;
$backgroundColorSecondary: #323232;  
$additionalGreen: #3cff00;;
$additionalCyan: #00e5ff;

$errorRed: #BD3E3E;

// ****************************************************************************
//                                Fonts 
// ****************************************************************************

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); // Font for headers (h1 - h3)
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); // text font

$headerFont: "Orbitron";
$textFont: "Outfit";

$h1Size: 4.5rem;
$h2Size: 3rem;
$h3Size: 1.5rem;
$paragraphSize: 0.9rem;

// ****************************************************************************
//                                Mixins 
// ****************************************************************************

@mixin link_to_page{
    color: $additionalGreen;
    font-family: $textFont;
    text-decoration: none;
}

@mixin h1_to_h3($size){
    color: #e6ede6;
    font-family: $headerFont;
    font-size: $size;
}

@mixin center_component($width, $height, $direction, $background){
    width: $width;
    height: $height;

    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

    background-color: $background;

    margin: 0rem;
}

@mixin button($backgroundColor, $fontColor){
    width: 10rem;
    height: 3rem;

    background-color: $backgroundColor;
    color: $fontColor;
    font-family: $textFont;

    border: none;
    border-radius: 0.25rem;

    &:hover{
        cursor: pointer;
    }
}

@mixin label(){
    color: $fontColor;
    font-family: $textFont;
    margin: 0.3rem;
}

@mixin input(){
    background-color: $backgroundColor;
    color: $fontColor;

    font-family: $h3Size;

    padding: 0.2rem;
    padding-left: 0.5rem;

    border: none;
    border-radius: 2rem;
    width: 15rem;
    height: 2rem;
}

@mixin error_paragraph(){
    color: $errorRed;
    font-family: $textFont;
    font-size: $paragraphSize;
}